{{> header }}
  <main id="main">
    <div class="container mb-40">
      <div class="mb-20">
        <h1>{{ page.title }}</h1>
        <div>
          <img class="img-circle" style="width: 30px" src="{{ page.metadata.author.metadata.image.imgix_url }}?w=100">&nbsp;&nbsp;&nbsp;{{ page.metadata.author.object.title }}
          &nbsp;&nbsp;<span class="make-friendly-date" data-timestamp="{{ page.timestamp }}"></span>
        </div>
      </div>
      {{# page.metadata.hero }}
        <div class="mb-20">
          <img class="img-responsive center-block" src="{{ page.metadata.hero.imgix_url }}?w=900">
        </div>
      {{/ page.metadata.hero }}
      {{{ page.content }}}
    </div>
  </main>
{{> footer }}